.top {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.songs_input {
  display: none;
}

.event_songs {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: flex-start;
  gap: 20px;
  margin-top: 20px;
}

@media screen and (max-width: 600px) {
  .top {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 600px) {
  .live_btn {
    height: 45px;
  }
}

@media screen and (min-width: 900px) {
  .live_btn {
    height: 45px;
  }
}
