.events_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.events {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.events_button {
  max-height: 40px;
  padding: 8px 18px;
}

.events_link:visited,
.events_link:hover {
  text-decoration: none;
  color: inherit;
}

@media screen and (max-width: 600px) {
}

@media screen and (min-width: 600px) {
  .events {
    gap: 10px;
  }
}

@media screen and (min-width: 900px) {
  .events {
    gap: 24px;
  }
}
