.song {
  border-bottom: 1px solid white;
  padding: 10px;
}

.song_top {
  display: flex;
  align-items: baseline;
  gap: 10px;
}

.song:hover {
  background-color: hsl(0, 0%, 65%);
  cursor: pointer;
}

.song_title {
  font-weight: bold;
}

.song_details {
  font-size: 12px;
}
