.songCard {
  border: 1px solid whitesmoke;
  border-radius: 10px;
  width: 100%;
  position: relative;
}

.songCard:hover {
  background-color: hsl(0, 0%, 65%);
}

.songCard_close:hover {
  cursor: pointer;
}

.songCard_title {
  font-size: 14px;
  font-weight: bold;
}

.songCard_id {
  font-size: 12px;
}

@media screen and (max-width: 600px) {
  .songCard {
    width: 200px;
    padding: 20px 10px;
  }
  .songCard_close {
    position: absolute;
    left: 180px;
    top: 4px;
  }
}

@media screen and (min-width: 600px) {
  .songCard {
    width: 280px;
    padding: 20px 10px;
  }
  .songCard_close {
    position: absolute;
    left: 255px;
    top: 4px;
  }
}

@media screen and (min-width: 900px) {
  .songCard {
    width: 300px;
    padding: 30px 10px;
  }

  .songCard_close {
    position: absolute;
    left: 275px;
    top: 5px;
  }
}
