.songs_header {
  display: block;
}

.song_searchbar {
  display: block;
  width: 100%;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 10px;
  padding: 10px 16px;
  color: white;
}

.songs_container {
  display: block;
  border: 1px solid white;
  border-radius: 10px;
  max-height: 400px;
  overflow: scroll;
}

@media screen and (max-width: 600px) {
}

@media screen and (min-width: 600px) {
}

@media screen and (min-width: 900px) {
}
